a {
  color: black !important;
}

.brand-logo,
h2 {
  font-family: "Grand Hotel", cursive;
}

.mycard {
  margin-top: 30px;
}
.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.input-field input[type="text"]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}
.input-field input[type="password"]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  width: 30%;
}

.home-card {
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
}
.collection-item {
  width: 100%;
}

#toast-container {
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}

.material-icons:hover {
  cursor: pointer;
}
.custom_btn_login {
  padding: 0.7rem 3rem 1.5rem 3rem !important;
}
.custom_text_login {
  text-transform: capitalize;
  color: white;
}
.forgot_password {
  text-decoration: underline;
  color: blue !important;
  font-weight: 600;
}
.dont_have_account {
  color: rgb(73, 69, 69) !important;
  font-weight: 600;
}
.custom_upload_pic {
  height: 2.5rem !important;
}
.custom_btn_upload_pic {
  height: 2.5rem !important;
  line-height: 1.1rem !important;
}
.like_text_nav {
  font-size: 0.9rem;
}

.custom_time_format {
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: underline;
  color: gray;
  position: relative;
  left: 10px;
  top: 3px;
  font-size: 0.7rem;
}
.custom_name_postedPy {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.3rem;
}
.custom_text_cmt {
  text-decoration: underline;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 0.8rem;
}
.custom_body_text {
  text-transform: capitalize;
  font-weight: 600;
  position: relative;
  top: 10px;
}
.custom_option_edit_delete {
  width: 12%;
  display: flex;
  justify-content: space-between;
}
.custom_li_nav {
  position: relative;
  right: 20%;
}
.custom_btn_show_modal {
  line-height: 0.9 !important;
}
.custom_update_image_avatar {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 15%;
  height: 40px;
  background-color: #3971ffcf;
  color: white;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
}
.btn_edit_avatar_profile {
  display: flex;
  justify-content: space-around;
  top: 5px;
  right: 17px;
  position: relative;
  cursor: pointer;
}
.custom_profile_list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.custom_cmt_text_user {
  font-size: 0.75rem;
  position: relative;
  left: 10px;
  font-weight: 500;
}
.custom_show_edit_model {
  width: 700px;
}
.image_custom_create {
  width: 25%;
}
.profile_image_custom {
  width: 160px;
  height: 160px;
  border-radius: 80px;
}
.custom_list_main_profile {
  max-width: 70%;
  margin: 0 auto;
}
.render_list_card_profile {
  width: 40%;
  height: 100%;
}
@media screen and (min-device-width: 320px) and (max-width: 480px) {
  .render_list_card_profile {
    width: 100%;
    height: 100%;
  }
  .custom_name_profile {
    font-size: 1rem;
  }
  .custom_length_profile {
    font-size: 0.6rem;
  }
  .btn_edit_avatar_profile {
    right: 5px;
    position: relative;
    cursor: pointer;
    display: flow-root;
  }
  .custom_view_image {
    position: relative;
    right: 7px;
  }
  .profile_image_custom {
    width: 100px;
    height: 100px;
    border-radius: 80px;
  }
  .image_custom_create {
    width: 80%;
  }
  .custom_show_edit_model {
    width: 300px !important;
  }
  nav .brand-logo.left {
    font-size: 1.4rem;
    left: 0rem;
  }
}
@media screen and (max-width: 768px) {
  .custom_text_cmt {
    font-size: 0.67rem;
  }
  .custom_cmt_text_user {
    font-size: 0.6rem;
  }
  .custom_title_text_body {
    font-size: 0.7rem;
  }
  .custom_body_text {
    font-size: 0.8rem;
  }
  .custom_time_format {
    font-size: 0.55rem;
  }
  .custom_name_postedPy {
    font-size: 1rem;
  }
  .custom_list_main_profile {
    max-width: 100%;
    margin: 0 auto;
  }
  .profile_image_custom {
    width: 140px !important;
    height: 140px !important;
  }
  .btn_edit_avatar_profile {
    display: flex;
    justify-content: space-around;
    top: 5px;
    right: 18px;
    position: relative;
    cursor: pointer;
  }
}
@media screen and (min-device-width: 375px) {
  .custom_update_image_avatar {
    width: 25%;
  }
  .btn_edit_avatar_profile {
    right: 15px;
  }
}
@media screen and (min-device-width: 411px) {
  .custom_update_image_avatar {
    width: 25%;
  }
  .btn_edit_avatar_profile {
    right: 6px;
  }
}
@media screen and (min-device-width: 320px) {
  .custom_update_image_avatar {
    width: 25%;
  }
  .btn_edit_avatar_profile {
    right: 28px;
  }
}
@media screen and (min-device-width: 820px) {
  .btn_edit_avatar_profile {
    display: flex;
    justify-content: space-around;
    top: 5px;
    right: 30px;
    position: relative;
    cursor: pointer;
  }
  .profile_image_custom {
    width: 140px !important;
    height: 140px !important;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .custom_name_profile {
    font-size: 1rem;
  }
  .custom_length_profile {
    font-size: 0.6rem;
  }
  .profile_image_custom {
    width: 100px;
    height: 100px;
    border-radius: 80px;
  }
  .image_custom_create {
    width: 70%;
  }
  .custom_show_edit_model {
    width: 500px;
  }
  #nav-mobile {
    display: flex;
    position: absolute;
    right: -40px;
  }
  nav .brand-logo.left {
    font-size: 1.4rem;
  }
  .home {
    position: relative;
    left: 20px;
  }
  .like_text_nav {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 1199px) {
  .custom_li_nav {
    right: 15px;
  }
}
@media only screen and (max-width: 991px) {
  .custom_li_nav {
    right: 15px;
  }
  .brand-logo {
    left: 0rem;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 1024px) {
  .custom_list_main_profile {
    max-width: 90%;
    margin: 0 auto;
  }
  .custom_li_nav {
    right: 15px;
  }
}
@media only screen and (max-width: 541px) {
  .custom_name_postedPy {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 0.89rem;
  }
  .custom_btn_login {
    position: relative;
    left: 55px;
    bottom: 7px;
  }
  .custom_right {
    display: flex;
    position: relative;
    top: 5px;
    right: 15px;
  }
  .custom_li_logout_search {
    position: relative;
    top: 2.5px;
  }
  .custom_icon_size {
    font-size: 1.58rem;
  }
  .custom_li_nav {
    position: relative;
    right: 15px;
  }
  .custom_logout_user {
    position: relative;
    left: 25px;
  }
  .custom_time_format {
    font-size: 0.5rem;
  }
  .custom_text_cmt {
    font-size: 0.67rem;
  }
  .custom_body_text {
    font-size: 0.75rem;
  }
  .custom_cmt_text_user {
    font-size: 0.6rem;
  }
  .custom_title_text_body {
    font-size: 0.67rem;
  }
  .card .md-form label {
    font-size: 0.67rem !important;
  }
  .brand-logo {
    left: 0rem;
    font-size: 1.5rem;
  }
  .custom_btn_logintrue {
    left: 0 !important;
  }
}
.card .md-form label {
  font-size: 0.8rem;
}
