/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  font-size: 18px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-family: "Montserrat", sans-serif;
}
body {
  font-family: "Montserrat", sans-serif;
}
:root {
  --color-dark-blue: #202040;
  --color-medium-blue: #404081;
  --color-light-blue: #40bec7;
  --color-light-red: #ff6363;
  --color-light-grey: #eaeaea;
  --fs-large: 2.5rem;
  --fs-medium: 1.8rem;
  --fs-smail: 1.6rem;
}
